* {
  font-family: "McLaren", cursive;
}

body {
  background: linear-gradient(to right, rgb(163, 79, 163), rgb(90, 96, 184));
}

.wrapper {
  padding-top: 20px;
  margin: 0 auto;
  width: 50vw;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5%;
  background: rgb(90, 214, 214);
  display: flex;
  flex-direction: column;
}

.wrapper div {
  margin-top: 5%;
}

.title {
  justify-content: center;
}

.title input {
  width: 100%;
  border-radius: 5px;
  height: 7vh;
}

.content {
  margin: 0;
}
