* {
  font-family: "McLaren", cursive;
}

body {
  background: linear-gradient(to right, rgba(180, 59, 180, 0.95), rgba(67, 76, 202, 0.95));
}

.wrapper {
  padding: 5%;
}

.container {
  padding-top: 20px;
  margin: 0 auto;
  width: 50vw;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(183, 170, 190);
  padding: 5%;
  background: rgba(62, 202, 226, 0.9);
  display: flex;
  flex-direction: column;
}

.container div {
  margin-top: 5%;
}

.title {
  justify-content: center;
}

.title input {
  width: 100%;
  border-radius: 5px;
  height: 7vh;
}

.content {
  margin: 0;
}

.todo-trash {
  float: right;
}
